<h1>Places you have visted</h1>

<p>Here are all your places:</p>

<ul>
  <% @places.each() do |place| %>
  <li><%= place.location() %></li>
  <% end %>
</ul>

<p>Store new location</p>

<form action="/places" method="post">
  <label for="location">Place name</label>
  <input id="location" name="location" type="text">

  <button type="submit" class="btn-success">Add Place</button>
</form>
